<div id="kod_surumleri">
  <% if code_revisions.empty? %>
    <em>Henüz kod güncellemesi yapılmamış</em>
  <% end %>

  <%
    issue = Issue.find(issue_id)
    issue.changesets.each do |changeset| 
  %>
    <div id="changeset-<%= changeset.id %>" class="changeset journal">
      <div class="note">
        <h4 class='note-header'>
          <div class="contextual">
            <%= "#{l(:label_revision)} #{changeset.format_identifier}" %>
            <% if changeset.filechanges.any? && User.current.allowed_to?(:browse_repository, changeset.project) %>
              (<%= link_to(l(:label_diff),
                           controller: "repositories",
                           action: "diff",
                           id: changeset.project,
                           repository_id: changeset.repository.identifier_param,
                           path: "",
                           rev: changeset.identifier) %>)
            <% end %>
          </div>

          <div>
            <%= avatar(changeset.user, size: "24") %>
            <%= authoring changeset.committed_on, changeset.author, label: :label_added_time_by %>
          </div>
        </h4>


        <div class="wiki changeset-comments"><%= format_changeset_comments changeset %></div>
        <div class="wiki changeset-comments">
          <select id="select_tag_revision-<%= changeset.id %>">
            <% tag_info = UlakTest::Git.findTagsOfCommit(changeset.repository.url, changeset.identifier) %>
            <option value="">Seçiniz</option>
            <%= options_for_select(tag_info.map { |tag| ["#{tag[:date]}", tag[:tag]] }) %>
          </select>
          <div class="div_artifact"></div>
        </div>
      </div>
    </div>
    <%= call_hook(:view_issues_history_changeset_bottom, { changeset: changeset }) %>
    <hr style="margin-bottom:50px">
  <% end %>
</div>



<script>
  $(function(){
    console.log(">>>> select2 için bıdı bıdı")
    function templateTagOption(item){
        if (!item.id) {
          return item.text;
        }
        var $date = $('<b>' + item.id + '</b> ');
        var $tag = $('<em style="float:right;display:block;">' + item.text + '</em>');
        var $div = $('<div/>').append($date).append($tag);
        return $div
    }

    $('[id^="select_tag_revision-"]').select2({
        width:"350px",
        templateResult: templateTagOption
    }).on('select2:select', function (e) {
      console.log(">>>>> ",e.params.data);
      if(!e.params.data){
        return console.log(">>>>> Dolu bir seçenek seçilmedi!");
      }
      const $select = $(this)
      const select_id = this.id
      const changeset_id = $(this).attr("id").split('-')[1]
      const selected_tag = e.params.data.id
      const url = `/ulak_test/tab/code_artifacts/issues/<%=issue_id%>/changesets/${changeset_id}/tags?tag=${selected_tag}`
      $.get( url, function( data ) {
        console.log( "Load was performed. data: ", data );
        console.log('>>> div_artifact.html boşaltılacak')
        $(".div_artifact").each(function(idx, div){
          console.log('>>> div_artifact.html boşaltılıyor')
          $(div).html('')
        })
        $(`[id^="select_tag_revision-"]:not(#${select_id})`).each(function(idx, select){ 
          console.log(select)
          $(select).select2('val', " ")
        })
        
        $select.parent().find(".div_artifact").html( data );
      });
    });
  });
</script>
