<style>
#plugin_settings_table{
  width: 100%;
}
#plugin_settings_table td:nth-child(2) {
  width: 80%;
}
#plugin_settings_table input {
  width: 100%;  
}
#plugin_settings_table th {
  text-align: left;  
}
#plugin_settings_table thead th {
  text-align: center;  
}
</style>

<table id="plugin_settings_table">
  <thead>
    <tr>
    <th colspan="2">Kiwi REST API</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>URL</th>
      <td>
        <input type="text" id="settings_rest_api_url" 
                           value="<%= settings['rest_api_url'] %>" 
                           name="settings[rest_api_url]" >
      </td>
    </tr>
    <tr>
      <th>Username</th>
      <td>
        <input type="text" id="settings_rest_api_username" 
                           value="<%= settings['rest_api_username'] %>" 
                           name="settings[rest_api_username]" >
      </td>
    </tr>
    <tr>
      <th>Password</th>
      <td>
        <input type="password" id="settings_rest_api_password" 
                           value="<%= settings['rest_api_password'] %>" 
                           name="settings[rest_api_password]" >
      </td>
    </tr>
    <tr>
      <th>Sync Kiwi Tests</th>
      <td>
      <script>
        function syncKiwiTests(){
          $.get( "/my_plugin/tests/sync", function( data ) {
            console.log( data );
            mesaj = `${data.after-data.before} Kayıt eklendi` 
            alert( "Eşleştirme başarıyla tamamlandı.\n", mesaj );
          });
        }
      </script>
        <input type="button" id="btn_sync_kiwi_tests" 
                           value="Sync Kiwi Tests" 
                           name="btn_sync_kiwi_tests" onclick="syncKiwiTests()">
      </td>
    </tr>
    <tr>
      <th>Jenkins URL</th>
      <td>
        <input type="text" id="settings_jenkins_url" 
                           value="<%= settings['jenkins_url'] %>" 
                           name="settings[jenkins_url]" >
      </td>
    </tr>
    <tr>
      <th>Jenkins Username</th>
      <td>
        <input type="text" id="settings_jenkins_username" 
                           value="<%= settings['jenkins_username'] %>" 
                           name="settings[jenkins_username]" >
      </td>
    </tr>
    <tr>
      <th>Jenkins TOKEN</th>
      <td>
        <input type="password" id="settings_jenkins_token" 
                           value="<%= settings['jenkins_token'] %>" 
                           name="settings[jenkins_token]" >
      </td>
    </tr>
  </tbody>
</table>