<div id="kod_surumleri">
  <% if @changesets.empty? %>
    <em>Henüz kod güncellemesi yapılmamış</em>
  <% end %>

  <% @changesets.each do |changeset| %>
    <div id="changeset-<%= changeset.id %>" class="changeset journal">
      <div class="note">
        <h4 class='note-header'>
          <div class="contextual">
            <%= link_to_revision(
                  changeset,
                  changeset.repository,
                  :text => "#{l(:label_revision)} #{changeset.format_identifier}",
                ) %>
            <% if changeset.filechanges.any? && User.current.allowed_to?(:browse_repository, changeset.project) %>
              (<%= link_to(l(:label_diff),
                           :controller => "repositories",
                           :action => "diff",
                           :id => changeset.project,
                           :repository_id => changeset.repository.identifier_param,
                           :path => "",
                           :rev => changeset.identifier) %>)
            <% end %>
          </div>
          <div>
            <%= avatar(changeset.user, :size => "24") %>
            <%= authoring changeset.committed_on, changeset.author, :label => :label_added_time_by %>
          </div>
        </h4>
        <div class="wiki changeset-comments"><%= format_changeset_comments changeset %></div>
        <div class="wiki changeset-comments">
          <% desired_artifact = artifacts.find { |item| item[:changeset_id].id == changeset.id } %>
          <% if desired_artifact %>
            <pre><%= MyPlugin::Hooks::IssueAssociatedRevision.format_artifacts_table(desired_artifact[:artifacts]) %></pre>
            <pre>
              <%= "MyPlugin::Hooks::IssueAssociatedRevision.fetch_all_packages()" %>
            </pre>
          <% end %>
        </div>
      </div>
    </div>
    <%= call_hook(:view_issues_history_changeset_bottom, { :changeset => changeset }) %>
  <% end %>
</div>

<script>
console.log("my_plugin > issue_associated_revision");

function copyToClipboard(containerImage) {
  const textToCopy = `docker pull ${containerImage}`; // Kopyalanacak metni buraya girin
  const textarea = document.createElement("textarea");
  textarea.value = textToCopy;
  document.body.appendChild(textarea);
  textarea.select();
  document.execCommand("copy");
  document.body.removeChild(textarea);

  alert("Metin başarıyla clipboard'a kopyalandı!");
}

function issue_associated_revision() {
  let name = 'issue_associated_revision'
  let issueId=1
  remote_url = `/my_plugin/${issueId}/tab/test_results`;
  url = `/issues/${issueId}?tab=test_results`;
  // Tab'ın başlığını oluşturup sekmelerin yanına yerleştirelim
  let $tabCodeRevisionsHeader = $("<a />", {
    id: "tab-issue_associated_revision",
    class: "",
    onclick: `getRemoteTab('${name}', '${remote_url}', '${url}'); return false;`,
    href: `/issues/${issueId}?tab=${name}`,
    text: "Issue Code Revisions"
  });

  let $history = $("#history")
  let $history_ul = $history.find("div.tabs ul")
  $("<li>").html($tabCodeRevisionsHeader).appendTo($history_ul)

  let $tabContentCodeRevisionsHeader = $('<div>', {
    id: 'tab-content-issue_associated_revision',
    class: 'tab-content',
    title: 'Code revisions will be displayed in this section',
    style: 'display: none;'
  })
  // $tabContentCodeRevisionsHeader.html($("#kod_surumleri"))
  $("#kod_surumleri").appendTo($tabContentCodeRevisionsHeader)
  $tabContentCodeRevisionsHeader.appendTo($history);

  function testleriGetir() {
    $.get(`/my_plugin/tests/issues/${issueId}`).then(
      tests => {
        window.$selectTests = $('#test_name_input').select2({
          tags: true,
          multiple: true,
          minimumInputLength: 1,
          data: tests,
          ajax: {
            url: '/my_plugin/tests',
            width: '100%',
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term, // arama terimini gönderin
                page: params.page
              };
            },
            createSearchChoice: function (term) {
              return false;
            },
            noResults: function () {
              return 'No results found'
            },
            searching: function () {
              return 'Searching…'
            },
            processResults: function (data, params) {
              console.log(`>>> tests data: ${data} >>> params: ${params}`);
              // sonuçları dönüştürün ve select2 formatına uygun hale getirin
              if (data && Array.isArray(data) && data.length == 0) {
                results = []
              } else {
                results = data.map(function (d) { return { id: d, text: d } })
              }

              return {
                results,
                pagination: {
                  more: (params.page * 30) < data.total_count
                }
              };
            },
            cache: true
          }
        });

        window.$selectTests.on('select2:select', function (e) {
          console.log('>>> Seçildi');
          console.log(e);
          var data = e.params.data;
          console.log(data);
          $.post(`/my_plugin/issues/1/tests/${data.id}`, {}).done(r => { alert(`Test eklendi: ${r}`); });
        });

        window.$selectTests.on('select2:unselect', function (e) {
          console.log('>>> Silindi');
          console.log(e);
          var data = e.params.data;
          console.log(data);
          $.ajax({
            url: `/my_plugin/issues/1/tests/${data.id}`,
            type: 'DELETE',
            success: function (result) {
              alert('Kayıt Silindi!');
            }
          });
        });

        window.$selectTests.val(tests).trigger('change.select2');
      })
  }

}

$(document).ready(function () {
  issue_associated_revision();
});

</script>
